.popup__container_image {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 240px;
    background: transparent;
    border-radius: 0;
}

@media screen and (min-width: 1280px) {
    .popup__container_image {
        max-width: 816px;
    }
}