.popup__input {
    border: 0;
    background: transparent;
    border-bottom:  1px solid #000000;
    height: 14px;
    padding-bottom: 13px;
    padding-top: 30px;
    width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 520px) {
    .popup__input {
        width: 238px;
    }
  }