.popup__input {
    border: none;
    background: transparent;
    border-bottom:  1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 13px;
    margin-top: 13px;
    width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
@media screen and (max-width: 520px) {
    .popup__input {
        max-width: 238px;
    }
  }