.profile {
    display: grid;
    padding-top: 35.25px;
    padding-bottom: 47.25px;
    max-width: 902.5px;
    margin: 0 auto;
    grid-template-columns: minmax(120px, 127.5px) 3fr 1fr;
    column-gap: 34px;
    grid-template-rows: auto;
    grid-template-areas:
      'profile__avatar profile__info profile__add-button';
      position: relative;
}
@media screen and (max-width: 892px) {
    .profile {
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:
        'profile__avatar'
        'profile__info'
        'profile__add-button';
        margin: 0;
        row-gap: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 38.25px;
        padding-bottom: 36px;
    }
  }