.profile__add-button {
    grid-area: profile__add-button;
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-top: 40.25px;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 320px) {
    .profile__add-button {
        padding-top: 0px;
    }
  }