.footer__text {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 318px;
    padding-top: 67px;
    padding-bottom: 60px;
    padding-left: 200px;
    margin: 0;
}
@media screen and (max-width: 674px) {
    .footer__text{
        padding-left: 40px;
  }
}
@media screen and (max-width: 320px) {
    .footer__text{
        padding-top: 48px;
        padding-bottom: 36px;
        padding-left: 19px;
  }
}