.profile__add-square {
    padding-left: 16px;
    padding-top: 5px;
    max-width: 150px;
    min-height: 50px;
    cursor: pointer;
}
@media screen and (max-width: 332px) {
    .profile__add-square {
       display: none;
    }
  }