.profile__button-square {
    max-width: 24px;
    min-height: 24px;
    cursor: pointer;
}
@media screen and (max-width: 332px) {
    .profile__button-square {
        max-width: 18px;
        min-height: 18px;
    }
  }