.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s linear;
}

.popup__loading {
    display: none;
}
.popup__loading_active {
    display: block;
}

.popup__btn-default-name_disable {
    display: none;
}
